[submodule "2020_ADIS_workshop"]
	path = 2020_ADIS_workshop
	url = https://github.com/pyiron/ADIS-workshop-2020.git
[submodule "2020_NIST_workshop"]
	path = 2020_NIST_workshop
	url = https://github.com/pyiron/NIST-workshop-2020.git
[submodule "2020_Phasediagram_workshop"]
	path = 2020_Phasediagram_workshop
	url = https://github.com/pyiron/phasediagram-workshop-2020.git
[submodule "2020_Virtual_workshop"]
	path = 2020_Virtual_workshop
	url = https://github.com/pyiron/pyiron-virtual-workshop-2020.git
[submodule "2021_Potentials_workshop"]
	path = 2021_Potentials_workshop
	url = https://github.com/pyiron/potentials-workshop-2021.git
[submodule "2021_SWIMM_workshop"]
	path = 2021_SWIMM_workshop
	url = https://github.com/pyiron/swimm-workshop-2021.git
[submodule "2022_Potentials_workshop"]
	path = 2022_Potentials_workshop
	url = https://github.com/pyiron/potentials-workshop-2022.git
[submodule "2023_DGM_workshop"]
	path = 2023_DGM_workshop
	url = https://github.com/pyiron/DGM_workshop.git
[submodule "2023_DPG_workflows"]
	path = 2023_DPG_workflows
	url = https://github.com/pyiron/dpg-workflows-tutorial-2023.git
[submodule "2023_LAMMPS_workshop"]
	path = 2023_LAMMPS_workshop
	url = https://github.com/pyiron/lammps-workshop-2023.git
